<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth/login.css">
    <title>Document</title>
</head>
<body>
    <main class="main-container">
        <div class="container">
            <h1>login</h1>
            <form action="/auth" method="post" class="form-login">
                <section class="box-form box-form-email">
                    <input type="text" name="email" id="input-email" autocomplete="off" required>
                    <label for="email" class="label-form label-email">email</label>
                </section>
                <section class="box-form box-form-password">
                    <input type="password" name="password" id="input-password" required>
                    <label for="password" class="label-form">password</label>
                </section>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
    </main>
</body>
<%- include('../../partials/footer'); %>
</html>