<header class="header">
    <div class="header-container">
        <div class="container-logo">
            <a href="/" class="link-home-logo"></a>
            <img src="/img/Radtek-removebg-preview.png" alt="logo-redid" class="logo">
            <span class="name-blog">Redid</span>
        </div>

        <nav class="navbar">
            <!--<ul class="nav-list">
                <li class="nav-items">Frot End</li>
                <li class="nav-items">Back End</li>
            </ul>-->

            <div class="categories-container">
                <ion-icon name="terminal-outline"></ion-icon>

                <div class="box-categories">
                    <ul class="categories-list">

                        <% categories.forEach(category => { %>
                            <li class="categories-items"> <%= category.title %> 
                                <a class="absolute-link" href="/category/<%= category.slug%>" target="_parent" rel="next"></a>
                            </li>
                        <% }) %>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>