<a href="javascript:history.back()" class="go-back" style="color: aqua">
  <ion-icon name="arrow-back-outline"></ion-icon>
</a>

<script>
  function toggleDropdown() {
    var dropdownMenu = document.getElementById('dropdownMenu');
    dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
  }
</script>
