<div class="column has-background-dark navigator">
    <figure class="image is-96x96">
        <img class="is-rounded" src="/img/Radtek-removebg-preview.png">
    </figure>

    <div class="dropdown is-hoverable" style="margin-left: 1rem;">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>menu</span>
          <span class="icon is-small">
            <ion-icon name="terminal-outline"></ion-icon>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <a href="/admin/category" class="dropdown-item">
            Categorias
          </a>
          <a href="/admin/document" class="dropdown-item">
            Documentos
          </a>
        </div>
      </div>
    </div>

    <a href="javascript:history.back()" class="go-back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
</div>
