<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/bulma/css/bulma.css">
    <title>Home</title>
</head>
<body>
    <h5>Home</h5>
</body>
<%- include('../../partials/footer'); %>
</html>