<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../../partials/head'); %>
    <title>Categorias</title>
</head>
<body>
    
</body>
</html>
<body>
    <h1 class="title">Categorias</h1>
</body>
</html>