@media only screen and (max-width: 900px) {
    .main {
        display: block;
    }

    iframe {
        max-width: 100% !important; 
        min-height: 250px !important;
    }
}

@media only screen and (max-width: 600px){

    .card-container {
        font-size: 1rem;
        width: 100%;
    }

    .back-to-top {
        display: none;
    }

    pre[class*=language-] {
        max-height: 400px;
        width: 100%;
    }

    .main {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 500px){
    .card-container {
        font-size: 1rem;
        line-height: 35px;
        word-wrap: break-word;        
    }  

    .language-jsx, .chroma {
        padding: 0.8rem;
    }
}

