@media only screen and (max-width: 600px){
    .card-container {
        font-size: 1rem;
    }

    .language-jsx, .chroma {
        width: 100%;
        max-height: 400px;
    }

    .main {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 500px){
    .card-container {
        font-size: 1rem;
        line-height: 35px;
        word-wrap: break-word;
    }  

    .language-jsx, .chroma {
        padding: 0.8rem;
    }
}

