@charset "UTF-8";
@import './var.scss';

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
}


html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: $bg-color-global;
    color: $font-color-global;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    width: 100%;
}

.header {
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 1px 3px $box-shadow-global;
    position: fixed;
    height: auto;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
}

.header-container {
    background-color: $bg-color-global;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0.1rem 1rem;
    left: auto;
    top: auto;
}

.header-container .container-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    .logo {
        height: 4rem;
        width: 4rem;
        min-width: 0.5rem;
        min-height: 0.5rem;
    }

    .name-blog {
        color: $primary-color;
        position: relative;
        font-weight: bold;
        text-transform: uppercase;

        &::before {
            content: "";
            background-color: aliceblue;
            position: absolute;
            height: 100%;
            left: -8px;
            top: 0;
            width: 2px;
        }
    }

    .link-home-logo {
        left: 0;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
    }
}

.navbar {
    align-items: center;
    color: $secundary-font-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .categories-container {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1rem;
        position: relative;

        ion-icon {
            cursor: pointer;
        }

        &:hover .box-categories {
            display: block;  
        }
    }
}

.categories-container .box-categories {
    background-color: rgb(27, 27, 27);
    border-radius: 0.5rem;
    display: none;
    position: absolute;
    padding: 0.5rem;
    height: 12rem;
    right: 5px;
    overflow-y: auto;
    top: 45px;
    width: 11rem;
    z-index: 4;
    animation: modalMenu 0.4s normal;   
}

.categories-list {
    list-style: none;
    cursor: pointer;
    position: relative;

    .categories-items {
        background-color: $bg-color-global;
        border: 1px solid $box-shadow-global;
        border-radius: 0.2rem;
        padding: 0.5rem;
        position: relative;
        margin: 10px 1px;
    }
}

//end header

.absolute-link {
    color: $font-color-global;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-decoration: none;
}

//start main
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cover {
    background-image: url(/img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .content-cover {
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 50%;
        z-index: 2;
        width: 50%;

        h1, p, a {
            color: $bg-color-global;
            font-weight: bold;
            line-height: 2rem;
            text-align: center;
        }

        .title-cover {
            color: $primary-color;
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
}

.card-container {
    padding: 60px 60px;

    .contend-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
    }
}

.card {
    align-items: center;
    background-color: #1B1B1B;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 350px;
    width: 300px;
    position: relative;
    transform: scale(1);
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        box-shadow: 0 10px 20px 4px rgba(255, 255, 255, 0.1);
        transform: scale(1.1);
    }
    
}

.card-img {
    width: 100%;
    height: 50%;
    position: relative;

    .card-picture {
        height: 100%;
        width: 100%;
    }
}

.card-info {
    align-self: flex-start;
    display: flex;
    padding: 0.5rem 0.1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7rem;

    .info-title {
        text-align: center;
        position: relative;
    }

    .info {
        color: $primary-color;
        font-size: 14px;
        position: relative;
    }

    .info.date {
        bottom: 10px;
        color: $secundary-font-color;
        position: absolute;
        right: 10px;
    }
}

//end main

.footer {
    align-items: center;
    background-color: #181818;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;

    .footer-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .social-networks .links {
            position: relative;
        }
        .social-networks ion-icon {
            font-size: 2rem; 
        }
    }
}

   
//errors   
   
.no-results {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateX(110px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

