@import "var.scss";
.rd_main {
    overflow: initial;
    position: relative;
}

.main-contend {
    display: flex;
    justify-content: center;
}

.card-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 40px;
    list-style-position: inside;
    gap: 10px;
    width: 80%;
    position: relative;

    .title-document {
        text-align: center;
    }
    .title-category {
        color: $secundary-font-color;
        font-size: .9rem;
        text-align: center;
        position: relative;
    }

    a {
        color: $primary-color;
    }

    ul {
        list-style-position: inside;

        li {
            line-height: 2rem;
        }
    }

    img {
        height: 100%;
        max-width: 90%;
    }
}

pre[class*=language-] {
    overflow: scroll;
    padding: 1rem;
    max-height: 500px;
    width: 100%;
}

.back-to-top {
    background-color: #181818;
    border: none;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    position: sticky;
    height: 50px;
    left: 0px;
    top: 20%;
    width: 50px;
    z-index: 2;
    margin-top: 10%;
    transition: all 0.2s ease;

    ion-icon {
        color: $primary-color;
        font-size: 16px
    }

    #progress {
        background-color: $primary-color;
        bottom: -10px;
        position: absolute;
        left: 0px;
        height: 2px;
        width: 0%;
    }
    &.is-active {
        opacity: 1;
    }
}

/*
.token.keyword, span .kr {
    color: $keyword;
}
.token.comment {
    color: $comment;
}
.token.operator, .o {
    color: $operator;
}
.token.function, .nx {
    color: $function;
}
.token.parameter, .s2 {
    color: $parameter;
}
.token.interpolation {
    color: $interpolation;
}

.kc {
    color: $primary-color;
}*/

@import "media.scss";