@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

$primary-color: #8257E6;

$font-color-global: #FFFFFF;
$secundary-font-color: #9C9C9C;
$bg-color-global: #111111;
$box-shadow-global: #ffffff41;
